{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <thead>
            <th>Id</th>
            <th>Url</th>
        </thead>
        {% for row in links %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.url }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
