{% extends 'base.html.twig' %}

{% block title %}✁.ws{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <nav class="navbar navbar-inverse navbar-lg">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand">Nożyczki</a>
                    </div>
                    {{ form_start(form, { 'attr': {'class': 'form-inline navbar-form navbar-left'} }) }}
                    <div class="form-group has-feedback">
                        {{ form_widget(form.uri, { 'attr': {'class': 'input-lg', 'placeholder': 'Url'}}) }}
                        <span class="form-control-feedback fui-link"></span>
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.aliases, { 'attr': {'class': 'input-hg', 'placeholder': 'Alias'}}) }}
                    </div>
                    <button class="btn btn-inverse btn-lg" type="submit">Create</button>
                    {{ form_end(form) }}
                </nav>
            </div>
        </div>
    </div>

{% endblock %}